
#titel
{
  text-align: center;
  padding-top: 3%;
  font-weight: bold;
}
h2{
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
 

}
#h2border{
  border-bottom: 2px solid whitesmoke;
  width: 30%;
  margin-bottom: 2%;
  margin-left: 35%;
}
#titel-text{
 padding-left: 32%;
 text-align: center;
  width: 700px;
}
.number-header
{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  color: aliceblue;
  width: 100%;


 
}
header{
  background: green;
  height: 50vh;
}
#p{
  color: black;
 margin-top: -20%;
 margin-left : -65%;
  
}
#number1-div{
 


  border-right: 1px solid white;
   height: 17vh;
   padding-right: 5%;
   margin-top: 2%;
   margin-bottom: 1%;
  
}

h1{
  color: white;
  font-size: 50px;
  margin-left : -65%;

  
}
 
 #number{
  margin-top: 2%;
   margin-bottom: 1%;
}

.Wedo{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
}


  .we{
    font-size: 45px;
    width: 68%;
    padding-left: 16%;
    margin-bottom: 6%;
  
   }

  
 
 
  .Wedo div{
    width: 50%;
    padding-left: 20%;
  }

  article{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    
  }
  .card{
    border-left: 70px solid lightgrey;
    border-right:  70px solid lightgrey;
  }

  img{
    height: 200px;
   width: 100%;
  }
  .blue{
   color: skyblue;
   font-size: 20px;
   font-weight: bold;
  }

  .preis{
    color: rgb(57, 221, 112);
    font-size: 20px;
    font-weight: bold;
  }

/* 
  @media only screen and (max-width: 375px) {
    .header {
     width: 50%;
     margin: 40%;
    }
    .brand {
      width: 75%;
    }
    .card{
      width: 75%;
   
  }
}


@media only screen and (max-width: 600px) {
  .header {
   width: 100%;
   margin: 40%;
  }
  .brand {
    width: 75%;
  }
  .card{
    width: 75%;
 
}
} */

  